/*
Description:
	Contains all the styles for the winning wheel page.
*/

body
{
	font-family: verdana, arial, sans-serif;
	margin: 0, auto;
	width: auto;
	background-color: #1c57a5;
	
}
/* Sets the background image for the wheel */

td.the_wheel{
	background-image:url(wheel_back.png);
	background-position: center;
	background-repeat: none;
}

/* Do some css reset on selected elements */
h1,p
{
	margin: 0,auto;
	color: red;
	text-transform: uppercase;
}

h1 {
	text-align: center;
}

div.power_controls
{
	margin-left: 10%;
}
/* Styles for the power selection controls */
table.power
{
	background-color: #5BC6E8;
	cursor: pointer;
	border:1px solid #333333;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

table.power th
{
	background-color: #002b45;
	cursor: crosshair;
	color: #7ab800;
	text-transform: uppercase;
	text-align: center;
}

td.pw1
{
	text-transform: uppercase;
	background-color: #fda01a;
	color:#f3fd00;
}

td.pw2
{
	text-transform: uppercase;
	background-color: #b71234;
	color:#f3fd00;
}

td.pw3
{
	text-transform: uppercase;
	background-color: #6a1a41;
	color:#f3fd00;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
	cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
	margin-bottom: 5px;
}

p.noCanvasMsg
{
	color: white;
}

#Rules
	{
		width: 100%;
		text-align: left;
		color: #FFFFFF;
		text-transform: uppercase;
	}
#Rules li {
	text-align: left;
	color: #bcbdbc;
	font-family:arial "Arial Black", Gadget, sans-serif;
	font-size:10px;
}

#power {
	text-transform:uppercase;
	font-weight: bold;
	color: #7ab800;
	background: #002b45;
}
#Wheel {
	width:80%;
	margin-left: 15%;
	margin-top: -8%;
}

#directions ol li{
	padding-bottom: 2%;
	text-transform: uppercase;
	color: #e0e1dd;
	}
#Prizes {
	height: 1%;
	width: auto;
	margin-left: 38%;
	color: red;
	font-family:Verdana, Geneva, sans-serif;
	font-weight: bolder;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
}
	