/** {
  outline: 1px solid red !important;
}*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: black;
    font-size: 16px;
}

input {
    background: grey;
}

form {
    display: inline-block;
}

.centered {
    text-align: center;
}

/*#pizzaSize {
    font-weight: 800;
}*/

.mover {
    position: fixed;
    z-index: -1;
    height = "100px";
    width = "73.333px";
    
}

.randomPizzaContainer {
    float: left;
    display: flex;
}

    .randomPizzaContainer:after {
        content: "";
        display: table;
        clear: both;
    }

.container {
    background-color: rgba(240, 60, 60, 0.8);
}
