body {
	color: #747704;
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-biggen{
	font-size: 60px;
}

.title-logo{
	margin-top: 3%;
}

hr.style-one {
	border: 0;
	height: 2px;
	background: #bcbbbb;
}

.logo-size {
	height: 100px;
	width: 100px;
}